<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQConnection.Properties.Settings.AdminToolsConnectionString"
            connectionString="Data Source=173.248.151.215,1533; Initial Catalog=QMSRSToolsEN; User ID=QMSRSToolsEN; Password=Qmsrs@9959;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
