<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
     <add name="AdminToolsConnectionString" connectionString="Data Source=173.248.151.215,1533; Initial Catalog=QMSRSToolsEN; User ID=QMSRSToolsEN; Password=Qmsrs@9959;"
      providerName="System.Data.SqlClient" />
    <add name="QMSRSToolsEN_RDLC" connectionString="Data Source=173.248.151.215,1533;Initial Catalog=QMSRSToolsEN;Persist Security Info=True;User ID=QMSRSToolsEN;Password=Qmsrs@9959"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="30"/>
    <authentication mode="Forms">
      <forms defaultUrl="~/Default.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="130"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajax"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add type="System.Web.SessionState.SessionStateModule" name="Session"/>
    </httpModules>
  </system.web>
  <appSettings>
    <add key="FolderPath" value="uploads"/>
    <add key="ClientID" value="QMSRSCBNLDN2014"/>
    <add key="ReportServerUserName" value="rs_948575"/>
    <add key="ReportServerPassword" value="welcome9959"/>
    <add key="ReportServerUrl" value="https://rs2k1201.discountasp.net"/>
    <add key="ReportPath" value="/qmsrscom000/reports"/>
    <add key="SiteURL" value="http://localhost:49364"/>
    <add key="TimeZoneSource" value="Arab Standard Time"/>
  </appSettings>
  <location path="Upload.ashx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="DBService.asmx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Global.asax">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="TerminateSession.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
</configuration>